<h1>MY listing</h1>
<%if @listing == nil %>
  <p>You dont have any listing</p>
  <p>Create a new listing ?></p>
  <p><%= link_to "New Listing", new_listing_path(user_id: current_user.id) %></p>
<%else%>
<% @listing.each do |x| %>
 <p><%= link_to x.name, x %></p>
<%end%>
<%end%>
<%= link_to 'Back', root_path %>

