<div class="container">
  <div class="jumbotron" style="background-color: grey">
    <h1>Pair BnB</h1> 
    <p>A Place where you can ........</p> 
  </div>
  <p>This is some text.</p> 
  <p>This is another text.</p> 
</div>
</div>
