<h1>Welcome to Pairbnb, <%= @customer.name %></h1>
    <p>
      You have successfully book in Pairbnb,
      your username is: <%= @customer.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @host.email %>.
    </p>
    <p>Thanks for joining and have a great day!</p>