<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">PairBnB</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/listings">All Listings</a></li>
      <li><a href="/listing/search">Search Listings</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    	<% if signed_in? -%>
    	<li><%= link_to "Sign Out", sign_out_path, method: :delete %></li>
    	<li><%= link_to "Edit Profile", edit_user_path(current_user.id) %></li>
    	<li><%= link_to "My Listing", edit_listing_path(current_user.id) %></li>
      <li><%= link_to "My Booking", booking_path(current_user.id) %></li>
    	<!-- <li><a href="/sign_out"><span class="glyphicon glyphicon-user"></span> Sign Out</a></li> -->
    	<% else -%>
      <li><a href="/sign_up"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/sign_in"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
       <% end -%>
    </ul>
  </div>
</nav>

